In [144]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as m
import sklearn

In [145]:
df=pd.read_csv(r'Churn_Modelling.csv')

In [146]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [147]:
df=df.drop(columns=['RowNumber', 'CustomerId', 'Surname' ])

In [148]:
df.isna().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [149]:
df.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [150]:
for i in df.select_dtypes(include=np.number):
    if df[i].nunique()!=2:
        print(df['Exited'].corr(df[i]), '--', i)
        print(df['Exited'].corr(df[i].pow(2)), '--', i, '--power')
        print(df['Exited'].corr(np.sqrt(df[i])), '--', i, '--sqrt')
        print(df['Exited'].corr(np.log(df[i])), '--', i, '--log')
        print(df['Exited'].corr(np.sin(df[i])), '--', i, '--sin')
        print(df['Exited'].corr(np.cos(df[i])), '--', i, '--cos')
        print(df['Exited'].corr(1/(1+np.exp(-df[i]))), '--', i, '--sigmoid')

-0.027093539754657763 -- CreditScore
-0.02411916378979507 -- CreditScore --power
-0.028747061268327396 -- CreditScore --sqrt
-0.030525279402588687 -- CreditScore --log
0.005624280823370229 -- CreditScore --sin
0.0015394856892626692 -- CreditScore --cos
nan -- CreditScore --sigmoid
0.2853230378350676 -- Age
0.2578971327188743 -- Age --power
0.29222355574231046 -- Age --sqrt
0.2940816355002439 -- Age --log
-0.0017157556794385605 -- Age --sin
-0.001492562279653478 -- Age --cos
0.027156879678837304 -- Age --sigmoid
-0.014000612253444582 -- Tenure
-0.009141437043838248 -- Tenure --power
-0.017278235496918242 -- Tenure --sqrt
nan -- Tenure --log
-0.008957381031317426 -- Tenure --sin
-0.005671648371160179 -- Tenure --cos
-0.020387574469999704 -- Tenure --sigmoid
0.1185327687716338 -- Balance
0.10556705685549542 -- Balance --power
0.12228431316618169 -- Balance --sqrt
nan -- Balance --log
-0.009347161775099682 -- Balance --sin
-0.06974752624109284 -- Balance --cos
0.1223572721847709 -- Balance --sigmoid
-0.04781986494944051 -- NumOfProducts
0.033555953041539396 -- NumOfProducts --power
-0.08014102493819879 -- NumOfProducts --sqrt
-0.10605162600690368 -- NumOfProducts --log
-0.3303979560103969 -- NumOfProducts --sin
0.12355180733848684 -- NumOfProducts --cos
-0.12373390626425784 -- NumOfProducts --sigmoid
0.012096861026844647 -- EstimatedSalary
0.013697381412708756 -- EstimatedSalary --power
0.01060405084591074 -- EstimatedSalary --sqrt
0.007772246630441404 -- EstimatedSalary --log
0.002435004666510702 -- EstimatedSalary --sin
0.013139861185852548 -- EstimatedSalary --cos
-0.019772635444028627 -- EstimatedSalary --sigmoid

C:\Users\Acer\anaconda3\lib\site-packages\pandas\core\arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [151]:
#farkli sutunlar icin farkli funksiyalar istifade etmek
df['CreditScore']=np.sin(df['CreditScore'])
df['Age']=np.log(df['Age'])
df['Tenure']=1/(1+np.exp(-df['Tenure']))
df['Balance']=1/(1+np.exp(-df['Balance']))
df['NumOfProducts']=np.sin(df['NumOfProducts'])
df['EstimatedSalary']=1/(1+np.exp(-df['EstimatedSalary']))

In [152]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,-0.106047,France,Female,3.737670,0.880797,0.5,0.841471,1,1,1.0,1
1,-0.994821,Spain,Female,3.713572,0.731059,1.0,0.841471,0,1,1.0,0
2,-0.609020,France,Female,3.737670,0.999665,1.0,0.141120,1,0,1.0,1
3,0.999990,France,Female,3.663562,0.731059,0.5,0.909297,0,0,1.0,0
4,0.980228,Spain,Female,3.761200,0.880797,1.0,0.841471,1,1,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,-0.966133,France,Male,3.663562,0.993307,0.5,0.909297,1,0,1.0,0
9996,0.702429,France,Male,3.555348,0.999955,1.0,0.841471,1,1,1.0,0
9997,-0.841438,France,Female,3.583519,0.999089,0.5,0.841471,0,1,1.0,1
9998,-0.739140,Germany,Male,3.737670,0.952574,1.0,0.909297,1,0,1.0,1
9999,0.313286,France,Female,3.332205,0.982014,1.0,0.841471,1,0,1.0,0

In [153]:
def getTarget(df, column, target):
    vmap = {}
    for c in df[column].unique():
        vmap[c] =  df[ df[column] == c ][ target ].mean()

    df[ column ] = df[column].map( vmap )

    return df

In [154]:
getTarget(df, 'Geography', 'Exited')

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,-0.106047,0.161548,Female,3.737670,0.880797,0.5,0.841471,1,1,1.0,1
1,-0.994821,0.166734,Female,3.713572,0.731059,1.0,0.841471,0,1,1.0,0
2,-0.609020,0.161548,Female,3.737670,0.999665,1.0,0.141120,1,0,1.0,1
3,0.999990,0.161548,Female,3.663562,0.731059,0.5,0.909297,0,0,1.0,0
4,0.980228,0.166734,Female,3.761200,0.880797,1.0,0.841471,1,1,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,-0.966133,0.161548,Male,3.663562,0.993307,0.5,0.909297,1,0,1.0,0
9996,0.702429,0.161548,Male,3.555348,0.999955,1.0,0.841471,1,1,1.0,0
9997,-0.841438,0.161548,Female,3.583519,0.999089,0.5,0.841471,0,1,1.0,1
9998,-0.739140,0.324432,Male,3.737670,0.952574,1.0,0.909297,1,0,1.0,1
9999,0.313286,0.161548,Female,3.332205,0.982014,1.0,0.841471,1,0,1.0,0

In [155]:
df['Gender']=df['Gender'].map({'Female':1, 'Male':0})

In [156]:
for i in df.select_dtypes(include=np.number):
    print(df['Exited'].corr(df[i]), '--', i)

0.005624280823370229 -- CreditScore
0.17356708697916923 -- Geography
0.10651248767347446 -- Gender
0.2940816355002439 -- Age
-0.020387574469999704 -- Tenure
0.1223572721847709 -- Balance
-0.3303979560103969 -- NumOfProducts
-0.007137765603039061 -- HasCrCard
-0.1561282781889051 -- IsActiveMember
-0.019772635444028627 -- EstimatedSalary
0.9999999999999996 -- Exited

In [157]:
#bunlar terget col ile corr deyeri 0-a yaxin olanlardir, hansi ki mean deyerleri demek olar ki eynidir
#ona gore sil onlari
df.groupby('Exited').agg({'HasCrCard':'mean', 'CreditScore':'mean', 'EstimatedSalary':'mean', 'Tenure':'mean'})

        HasCrCard  CreditScore  EstimatedSalary    Tenure
Exited
0        0.707146     0.028746              1.0  0.932656
1        0.699067     0.038746              1.0  0.926486

In [158]:
df=df.drop(columns=['HasCrCard', 'EstimatedSalary', 'Tenure', 'CreditScore'])

In [159]:
df.corr()

,Geography,Gender,Age,Balance,NumOfProducts,IsActiveMember,Exited
Geography,1.000000,0.024338,0.049787,0.435410,-0.055879,-0.020158,0.173567
Gender,0.024338,1.000000,0.027395,-0.004513,-0.044407,-0.022544,0.106512
Age,0.049787,0.027395,1.000000,0.037579,-0.102449,0.064891,0.294082
Balance,0.435410,-0.004513,0.037579,1.000000,-0.089173,-0.004116,0.122357
NumOfProducts,-0.055879,-0.044407,-0.102449,-0.089173,1.000000,0.029120,-0.330398
IsActiveMember,-0.020158,-0.022544,0.064891,-0.004116,0.029120,1.000000,-0.156128
Exited,0.173567,0.106512,0.294082,0.122357,-0.330398,-0.156128,1.000000

In [160]:
x=df.loc[:, df.columns!='Exited'].values

In [161]:
y=df['Exited'].values

In [162]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2, random_state=10)

In [163]:
from sklearn.ensemble import RandomForestClassifier

In [164]:
prediction=RandomForestClassifier()

In [165]:
prediction.fit(x_train, y_train)

RandomForestClassifier()

In [166]:
result=prediction.predict(x_test)

In [167]:
result[0:5]

array([1, 0, 0, 0, 1], dtype=int64)

In [168]:
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score, matthews_corrcoef

In [169]:
score1=confusion_matrix(y_test, result)

score2=accuracy_score(y_test, result)

score3=f1_score(y_test, result)

score4=matthews_corrcoef(y_test, result)

In [170]:
score1

array([[1476,  102],
       [ 221,  201]], dtype=int64)

In [171]:
score2

0.8385

In [172]:
score3

0.5544827586206896

In [173]:
score4

0.4684798788862786

In [174]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [175]:
#create balanced data

In [176]:
ones=df[df['Exited']==1]
zeros=df[df['Exited']==0].sample(frac=0.3)

In [177]:
df=pd.concat([ones, zeros]).sample(frac=1.0)

In [178]:
df['Exited'].value_counts()

0    2389
1    2037
Name: Exited, dtype: int64

In [179]:
x=df.loc[:, df.columns!='Exited'].values

y=df['Exited'].values

x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2, random_state=10)

prediction=RandomForestClassifier()

clf=prediction.fit(x_train, y_train)

result=prediction.predict(x_test)

from sklearn.metrics import confusion_matrix, accuracy_score, f1_score, matthews_corrcoef

In [180]:
score1=confusion_matrix(y_test, result)

score2=accuracy_score(y_test, result)

score3=f1_score(y_test, result)

score4=matthews_corrcoef(y_test, result)

In [181]:
score1

array([[378, 108],
       [131, 269]], dtype=int64)

In [182]:
score2

0.7302483069977427

In [183]:
score3

0.6924066924066924

In [184]:
score4

0.45320957650030674

#### cross validation

In [185]:
from sklearn import svm
from sklearn.model_selection import cross_val_score
clf = svm.SVC(kernel='linear', C=1, random_state=42)
scores = cross_val_score(clf, x, y, cv=5)
scores

array([0.75846501, 0.76045198, 0.78757062, 0.74576271, 0.75706215])

In [186]:
print((scores.mean(), scores.std()))

(0.76186249378276, 0.013832473249467118)

In [187]:
from sklearn import metrics
scores = cross_val_score(
clf, x, y, cv=5, scoring='f1_macro')
scores

array([0.75594674, 0.75676222, 0.78519861, 0.74177338, 0.75170456])

In [188]:
print((scores.mean(), scores.std()))

(0.7582771047296346, 0.014478011789443685)

#### Train test validation split

In [189]:
train_ratio = 0.75
validation_ratio = 0.15
test_ratio = 0.10

# train is now 75% of the entire data set
# the _junk suffix means that we drop that variable completely
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=1 - train_ratio)

# test is now 10% of the initial data set
# validation is now 15% of the initial data set
x_val, x_test, y_val, y_test = train_test_split(x_test, y_test, test_size=test_ratio/(test_ratio + validation_ratio))

In [190]:
clf1=prediction.fit(x_train, y_train)

In [191]:
result1=prediction.predict(x_test)

In [192]:
score1=confusion_matrix(y_test, result1)

score2=accuracy_score(y_test, result1)

score3=f1_score(y_test, result1)

score4=matthews_corrcoef(y_test, result1)

In [193]:
score1

array([[174,  56],
       [ 67, 146]], dtype=int64)

In [194]:
score2

0.7223476297968398

In [195]:
score3

0.7036144578313254

In [196]:
score4

0.4433636590749762

In [197]:
clf2=prediction.fit(x_val, y_val)

In [198]:
result2=prediction.predict(x_test)

In [199]:
score1=confusion_matrix(y_test, result2)

score2=accuracy_score(y_test, result2)

score3=f1_score(y_test, result2)

score4=matthews_corrcoef(y_test, result2)

In [200]:
score1

array([[162,  68],
       [ 71, 142]], dtype=int64)

In [201]:
score2

0.6862302483069977

In [202]:
score3

0.6713947990543735

In [203]:
score4

0.37124189975796845

____