In [72]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [94]:
df=pd.read_csv(r'week6-quiz1.csv').head(3000).iloc[:, 1:]

In [95]:
df

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0
...,...,...,...,...,...,...,...,...,...,...,...
2995,Male,74,1,46.0,0,> 2 Years,Yes,2630.0,11.0,231,1
2996,Male,45,1,28.0,0,> 2 Years,Yes,43780.0,26.0,207,1
2997,Female,46,1,28.0,0,> 2 Years,Yes,40790.0,26.0,43,0
2998,Male,36,1,28.0,0,1-2 Year,Yes,40803.0,124.0,254,0
2999,Male,49,1,28.0,0,1-2 Year,Yes,57197.0,26.0,129,0

#### delete rows randomly

In [96]:
p = 0.1 #percentage missing data required

mask = np.random.choice([True, False], size=df.shape, p=[p,1-p])
df_nulls = df.mask(mask)

In [97]:
df_nulls

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,Male,44.0,1.0,28.0,0.0,> 2 Years,Yes,NaN,NaN,217.0,1.0
1,Male,76.0,1.0,3.0,0.0,1-2 Year,No,33536.0,26.0,183.0,0.0
2,Male,47.0,1.0,28.0,0.0,> 2 Years,Yes,38294.0,26.0,27.0,NaN
3,Male,21.0,1.0,11.0,1.0,< 1 Year,No,28619.0,152.0,203.0,0.0
4,Female,NaN,1.0,41.0,NaN,< 1 Year,No,27496.0,152.0,39.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2995,NaN,74.0,1.0,46.0,0.0,> 2 Years,Yes,2630.0,11.0,231.0,NaN
2996,Male,NaN,1.0,28.0,0.0,> 2 Years,Yes,43780.0,26.0,207.0,1.0
2997,Female,46.0,1.0,28.0,0.0,> 2 Years,Yes,40790.0,26.0,43.0,0.0
2998,Male,36.0,1.0,NaN,0.0,1-2 Year,Yes,40803.0,124.0,254.0,0.0
2999,Male,49.0,1.0,28.0,0.0,NaN,Yes,57197.0,26.0,129.0,0.0

#### fill nan values

In [98]:
df_nulls.isna().sum()

Gender                  289
Age                     312
Driving_License         295
Region_Code             305
Previously_Insured      288
Vehicle_Age             289
Vehicle_Damage          294
Annual_Premium          333
Policy_Sales_Channel    299
Vintage                 320
Response                289
dtype: int64

In [99]:
nunique_values={}
for col in df_nulls:
    nunique_values[col]=df_nulls[col].nunique()

In [100]:
nunique_values

{'Gender': 2,
 'Age': 63,
 'Driving_License': 2,
 'Region_Code': 51,
 'Previously_Insured': 2,
 'Vehicle_Age': 3,
 'Vehicle_Damage': 2,
 'Annual_Premium': 2170,
 'Policy_Sales_Channel': 66,
 'Vintage': 290,
 'Response': 2}

In [101]:
df_null_cat=df_nulls[['Region_Code', 'Vehicle_Age',  'Policy_Sales_Channel', 'Vintage']]

In [102]:
df_null_flag=df_nulls[['Gender', 'Driving_License',  'Previously_Insured', 'Vehicle_Damage', 'Response']]

In [103]:
df_null_num=df_nulls[['Age', 'Annual_Premium']]

In [104]:
dict_value_cat={}
for col in df_null_cat:
    dict_value_cat[col]=df_null_cat[col].value_counts()

In [105]:
dict_value_flag={}
for col in df_null_flag:
    dict_value_flag[col]=df_null_flag[col].value_counts()

In [106]:
dict_value_num={}
for col in df_null_num:
    dict_value_num[col]=df_null_num[col].value_counts()

#### fill nan for categoric values df

In [107]:
dict_region=df_nulls['Region_Code'].value_counts().to_dict()

keys_region=list(dict_region.keys())

values_region=list(dict_region.values())/df_nulls['Region_Code'].notna().sum()*100

for i in range(len(dict_region)):
    dict_region[keys_region[i]]=values_region[i]
#print(dict_region)

In [108]:
random_region=random.choices(keys_region, weights=tuple(values_region), k=len(df_nulls['Region_Code'].notna()))

for n in range(len(random_region)):
    df_nulls['Region_Code']=df_nulls['Region_Code'].fillna(random_region[n])

____

In [109]:
dict_vehicle=df_nulls['Vehicle_Age'].value_counts().to_dict()

keys_vehicle=list(dict_vehicle.keys())

values_vehicle=list(dict_vehicle.values())/df_nulls['Vehicle_Age'].notna().sum()*100

for i in range(len(dict_vehicle)):
    dict_vehicle[keys_vehicle[i]]=values_vehicle[i]
print(dict_vehicle)

{'1-2 Year': 51.12504610844707, '< 1 Year': 44.30099594245666, '> 2 Years': 4.5739579490962745}

In [110]:
random_vehicle=random.choices(keys_vehicle, weights=tuple(values_vehicle), k=len(df_nulls['Vehicle_Age'].notna()))

for n in range(len(random_vehicle)):
    df_nulls['Vehicle_Age']=df_nulls['Vehicle_Age'].fillna(random_vehicle[n])

___

In [111]:
dict_sales=df_nulls['Policy_Sales_Channel'].value_counts().to_dict()

keys_sales=list(dict_sales.keys())

values_sales=list(dict_sales.values())/df_nulls['Policy_Sales_Channel'].notna().sum()*100

for i in range(len(dict_sales)):
    dict_sales[keys_sales[i]]=values_sales[i]
#print(dict_sales)

In [112]:
random_sales=random.choices(keys_sales, weights=tuple(values_sales), k=len(df_nulls['Policy_Sales_Channel'].notna()))

for n in range(len(random_sales)):
    df_nulls['Policy_Sales_Channel']=df_nulls['Policy_Sales_Channel'].fillna(random_sales[n])

____

In [113]:
dict_vintage=df_nulls['Vintage'].value_counts().to_dict()

keys_vintage=list(dict_vintage.keys())

values_vintage=list(dict_vintage.values())/df_nulls['Vintage'].notna().sum()*100

for i in range(len(dict_vintage)):
    dict_vintage[keys_vintage[i]]=values_vintage[i]
#print(dict_vintage)

In [114]:
random_vintage=random.choices(keys_vintage, weights=tuple(values_vintage), k=len(df_nulls['Vintage'].notna()))

for n in range(len(random_vintage)):
    df_nulls['Vintage']=df_nulls['Vintage'].fillna(random_vintage[n])

#### fill nan for flag values df

In [115]:
dict_value_flag

{'Gender': Male      1443
 Female    1268
 Name: Gender, dtype: int64,
 'Driving_License': 1.0    2698
 0.0       7
 Name: Driving_License, dtype: int64,
 'Previously_Insured': 0.0    1506
 1.0    1206
 Name: Previously_Insured, dtype: int64,
 'Vehicle_Damage': Yes    1408
 No     1298
 Name: Vehicle_Damage, dtype: int64,
 'Response': 0.0    2386
 1.0     325
 Name: Response, dtype: int64}

In [116]:
dict_gender=df_nulls['Gender'].value_counts().to_dict()

keys_gender=list(dict_gender.keys())

values_gender=list(dict_gender.values())/df_nulls['Gender'].notna().sum()*100

for i in range(len(dict_gender)):
    dict_gender[keys_gender[i]]=values_gender[i]
#print(dict_vintage)

In [117]:
random_gender=random.choices(keys_gender, weights=tuple(values_gender), k=len(df_nulls['Gender'].notna()))

for n in range(len(random_gender)):
    df_nulls['Gender']=df_nulls['Gender'].fillna(random_gender[n])

______

In [118]:
df_nulls['Driving_License']=df_nulls['Driving_License'].fillna(df_nulls['Driving_License'].mode()[0])

___

In [119]:
df_nulls['Response']=df_nulls['Response'].fillna(df_nulls['Response'].mode()[0])

___

In [120]:
dict_insured=df_nulls['Previously_Insured'].value_counts().to_dict()

keys_insured=list(dict_insured.keys())

values_insured=list(dict_insured.values())/df_nulls['Previously_Insured'].notna().sum()*100

for i in range(len(dict_insured)):
    dict_insured[keys_insured[i]]=values_insured[i]
#print(dict_insured)

In [121]:
random_insured=random.choices(keys_insured, weights=tuple(values_insured), k=len(df_nulls['Previously_Insured'].notna()))

for n in range(len(random_insured)):
    df_nulls['Previously_Insured']=df_nulls['Previously_Insured'].fillna(random_insured[n])

___

In [122]:
dict_damage=df_nulls['Vehicle_Damage'].value_counts().to_dict()

keys_damage=list(dict_damage.keys())

values_damage=list(dict_damage.values())/df_nulls['Vehicle_Damage'].notna().sum()*100

for i in range(len(dict_damage)):
    dict_damage[keys_damage[i]]=values_damage[i]
#print(dict_damage)

In [123]:
random_damage=random.choices(keys_damage, weights=tuple(values_damage), k=len(df_nulls['Vehicle_Damage'].notna()))

for n in range(len(random_damage)):
    df_nulls['Vehicle_Damage']=df_nulls['Vehicle_Damage'].fillna(random_damage[n])

#### fill nan for numeric values df

In [124]:
dict_value_num

{'Age': 24.0    201
 23.0    173
 22.0    153
 25.0    151
 21.0    121
        ...
 74.0      7
 79.0      6
 80.0      2
 81.0      1
 83.0      1
 Name: Age, Length: 63, dtype: int64,
 'Annual_Premium': 2630.0     433
 36282.0      3
 28190.0      2
 37107.0      2
 33685.0      2
           ...
 37768.0      1
 32485.0      1
 31231.0      1
 20804.0      1
 57197.0      1
 Name: Annual_Premium, Length: 2170, dtype: int64}

In [125]:
dict_age=df_nulls['Age'].value_counts().to_dict()

keys_age=list(dict_age.keys())

values_age=list(dict_age.values())/df_nulls['Age'].notna().sum()*100

for i in range(len(dict_age)):
    dict_age[keys_age[i]]=values_age[i]
#print(dict_age)

In [126]:
random_age=random.choices(keys_age, weights=tuple(values_age), k=len(df_nulls['Age'].notna()))

for n in range(len(random_age)):
    df_nulls['Age']=df_nulls['Age'].fillna(random_age[n])

_______

In [127]:
dict_annual=df_nulls['Annual_Premium'].value_counts().to_dict()

keys_annual=list(dict_annual.keys())

values_annual=list(dict_annual.values())/df_nulls['Annual_Premium'].notna().sum()*100

for i in range(len(dict_annual)):
    dict_annual[keys_annual[i]]=values_annual[i]
#print(dict_annual)

In [128]:
random_annual=random.choices(keys_annual, weights=tuple(values_annual), k=len(df_nulls['Annual_Premium'].notna()))

for n in range(len(random_annual)):
    df_nulls['Annual_Premium']=df_nulls['Annual_Premium'].fillna(random_annual[n])

___

### Find distance for flag values

In [129]:
from scipy.spatial.distance import hamming

In [130]:
import distance

In [131]:
distance.hamming(list(df_nulls['Vehicle_Damage'][1]), list( df['Vehicle_Damage'][1]))

0

In [132]:
list(df_nulls['Vehicle_Damage'])[1]

'No'

In [133]:
list(df_nulls['Gender'])[1]

'Male'

In [134]:

d={}
for col in df_null_flag:
    l=[]
    for i in range(len(df_nulls)):
        l.append(hamming(list(df_nulls[col])[i], list(df[col])[i]))
        d[col]=l

In [135]:
data=pd.DataFrame.from_dict(d, orient='index').T

In [136]:
data

      Gender  Driving_License  Previously_Insured  Vehicle_Damage  Response
0        0.0              0.0                 0.0             0.0       0.0
1        0.0              0.0                 0.0             0.0       0.0
2        0.0              0.0                 0.0             0.0       1.0
3        0.0              0.0                 0.0             0.0       0.0
4        0.0              0.0                 1.0             0.0       0.0
...      ...              ...                 ...             ...       ...
2995     1.0              0.0                 0.0             0.0       1.0
2996     0.0              0.0                 0.0             0.0       0.0
2997     0.0              0.0                 0.0             0.0       0.0
2998     0.0              0.0                 0.0             0.0       0.0
2999     0.0              0.0                 0.0             0.0       0.0

[3000 rows x 5 columns]

In [142]:
"""
Gender                  291
Driving_License         284
Previously_Insured      298
Vehicle_Damage          292
Annual_Premium          321
Response                314
"""
#kac tane benzer olmayan value var gore biliriz
#gender column'da 291 nan vardi, fillna etdik ve check 149 tanesi farkli oldu, driving license icin sonuc 1 tanesi uyumsuz


for col in data:
    print(data[col].value_counts())

0.0    2851
1.0     149
Name: Gender, dtype: int64
0.0    2999
1.0       1
Name: Driving_License, dtype: int64
0.0    2877
1.0     123
Name: Previously_Insured, dtype: int64
0.0    2856
1.0     144
Name: Vehicle_Damage, dtype: int64
0.0    2950
1.0      50
Name: Response, dtype: int64

### Find distance for categoric values

In [143]:
df_null_cat

      Region_Code Vehicle_Age  Policy_Sales_Channel  Vintage
0            28.0   > 2 Years                   NaN    217.0
1             3.0    1-2 Year                  26.0    183.0
2            28.0   > 2 Years                  26.0     27.0
3            11.0    < 1 Year                 152.0    203.0
4            41.0    < 1 Year                 152.0     39.0
...           ...         ...                   ...      ...
2995         46.0   > 2 Years                  11.0    231.0
2996         28.0   > 2 Years                  26.0    207.0
2997         28.0   > 2 Years                  26.0     43.0
2998          NaN    1-2 Year                 124.0    254.0
2999         28.0         NaN                  26.0    129.0

[3000 rows x 4 columns]

In [144]:
d_cat={}
for col in df_null_cat:
    l_cat=[]
    for i in range(len(df)):
        l_cat.append(hamming(list(df[col])[i], list(df_null_cat[col])[i]))
    d_cat[col]=l_cat

C:\Users\Acer\anaconda3\lib\site-packages\scipy\spatial\distance.py:798: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  u_ne_v = u != v

In [145]:
data_cat=pd.DataFrame.from_dict(d_cat, orient='index').T

In [146]:
data_cat

      Region_Code  Vehicle_Age  Policy_Sales_Channel  Vintage
0             0.0          0.0                   1.0      0.0
1             0.0          0.0                   0.0      0.0
2             0.0          0.0                   0.0      0.0
3             0.0          0.0                   0.0      0.0
4             0.0          0.0                   0.0      0.0
...           ...          ...                   ...      ...
2995          0.0          0.0                   0.0      0.0
2996          0.0          0.0                   0.0      0.0
2997          0.0          0.0                   0.0      0.0
2998          1.0          0.0                   0.0      0.0
2999          0.0          1.0                   0.0      0.0

[3000 rows x 4 columns]

In [147]:
"""
Region_Code             295
Vehicle_Age             313
Policy_Sales_Channel    278
Vintage                 303
"""

for col in data_cat:
    print(data_cat[col].value_counts())

0.0    2695
1.0     305
Name: Region_Code, dtype: int64
0.0    2711
1.0     289
Name: Vehicle_Age, dtype: int64
0.0    2701
1.0     299
Name: Policy_Sales_Channel, dtype: int64
0.0    2680
1.0     320
Name: Vintage, dtype: int64

### Find distance for numeric values

In [148]:
df_nulls['Annual_Premium']

0        2630.0
1       33536.0
2       38294.0
3       28619.0
4       27496.0
         ...
2995     2630.0
2996    43780.0
2997    40790.0
2998    40803.0
2999    57197.0
Name: Annual_Premium, Length: 3000, dtype: float64

In [149]:
def Euclidean_Dist(df1, df2, cols=['Age', 'Annual_Premium' ]):
    return np.linalg.norm(df1[cols].values - df2[cols].values,
                   axis=1)

In [150]:
Euclidean_Dist(df, df_nulls)

array([37824.,     0.,     0., ...,     0.,     0.,     0.])